.btnAgregarAct:hover{
    color: black;
    background-color: #06aaeb;
    border: 1px solid black;
}

.btnUpdateActivo:hover{
    
    border: 1.5px solid black;
}

.btnDeleteActivo:hover{
    
    background-color: red;
    transition: background-color 0.3s ease;
    border: 1.5px solid black;
    color: black;
}

.modalAct{
    display: flex;
    flex-direction: column;
    gap: 5px;
}