.btnUpdateInventario:hover{
    
    border: 1.5px solid black;
}

.btnDeleteInventario:hover{
    
    background-color: red;
    transition: background-color 0.3s ease;
    border: 1.5px solid black;
    color: black;
}

.probar{
    color:black;
}