.dropdown {
    position: relative;
  }
  
  .dropdown-tab {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
    cursor: pointer;
  }

.labelFormProduct {
  font-size: 18px;
}